In [1]:
import pandas as pd

In [2]:
s= pd.Series(list('asdasdasdasdasdasdasdasd'))

In [3]:
s.unique()

array(['a', 's', 'd'], dtype=object)

In [5]:
s.value_counts() #conta quantas vezes aparece cada valor

s    8
a    8
d    8
dtype: int64

In [6]:
dados = pd.read_csv('dados/aluguel.csv', sep=';')

In [7]:
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [8]:
dados.Tipo.value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64